*{
    box-sizing: border-box;
}

body{
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container-jogo {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    margin-top: 30px;
    outline: 2px solid white;
    overflow: hidden;

    transform: scale(2) translateY(50%);
}

.container-jogo canvas{
    image-rendering: pixelated;
}