.DecisionMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
  font-family: inherit;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DecisionMessage_text {
  margin: 0;
  font-size: 12px;
}

.DecisionMessage span {
  opacity: 0;
}

.DecisionMessage span.revealed {
  opacity: 1;
}

.DecisionMessage_buttons {
  display: flex;
  gap: 8px;
}

.DecisionMessage_button {
  font-size: 10px;
  padding: 2px 6px;
  background: none;
  border: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
  font-family: inherit;
  cursor: pointer;
}
