:root {
    --border-color: #291D4D;
    --dialog-background: #FFF3B4;
    --menu-background: #FFE8D2;
    --menu-border-color: #A48465;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7FC2FF;
}

* {
    box-sizing: border-box;
}

body {
    background: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: 352px;
    height: 198px;
    
    position: relative;
    outline: 2px solid white;
    background: #000;
    overflow: hidden;

    transform: scale(3.5); 
    
    transform-origin: center center;
    
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.game-container canvas {
    width: 352px;
    height: 198px;
    image-rendering: pixelated;
}

body:fullscreen {
    background: #000;
}

.game-container:fullscreen {
    outline: none;
    background: #000;
}